/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    
}
h2{
    background-color: blue;
    color: white;
    text-align: center;
    margin-top:10px ;
}
h3{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.info{
   width: 60%;
   margin: 20px auto;
   border: 1px solid black;

}
img{
  height: 100%;
  width: 100%;
  
}